html {
  scroll-behavior: smooth;
  background-color: var(--chakra-colors-color-palette-subtle);
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  min-height: auto; /* overwrite default min-height: 100dvh */
}

a,
button,
span,
p {
  user-select: none; /* disable selecting text */
}
